## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config1 import g_key

# Configure gmaps
gmaps.configure(api_key= "g_key")

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.

vacation_df = pd.read_csv("Vacation_Search/WeatherPy_Database.csv")
vacation_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bethel,US,2021-05-17 13:11:10,41.3712,-73.4140,63.00,55,1,3.67
1,1,Busselton,AU,2021-05-17 13:11:10,-33.6500,115.3333,60.01,95,7,8.52
2,2,Arraial Do Cabo,BR,2021-05-17 13:11:11,-22.9661,-42.0278,77.00,61,0,8.05
3,3,Araouane,ML,2021-05-17 13:11:12,18.9048,-3.5265,112.24,7,17,8.48
4,4,Faanui,PF,2021-05-17 13:11:12,-16.4833,-151.7500,80.51,75,24,14.97
5,5,Bengkulu,ID,2021-05-17 13:11:12,-3.8004,102.2655,78.66,87,100,5.68
6,6,Bredasdorp,ZA,2021-05-17 13:11:13,-34.5322,20.0403,64.40,55,40,5.75
7,7,Port Alfred,ZA,2021-05-17 13:11:13,-33.5906,26.8910,63.91,71,26,18.88
8,8,Bluff,NZ,2021-05-17 13:11:13,-46.6000,168.3333,43.00,84,64,7.00
9,9,Minot,US,2021-05-17 13:10:01,48.2325,-101.2963,64.40,59,1,8.05

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Lat</dt><dd>{Lat}</dd>
<dt>Lng</dt><dd>{Lng}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Humidity</dt><dd>{Humidity} °F</dd>
<dt>Cloudiness</dt><dd>{Cloudiness} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
print(fig)

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[41.37, -73.4140]
vacation_end = vacation_df.loc[48.2325, -101.2963]
vacation_stop1 = vacation_df.loc[]
vacation_stop2 = vacation_df.loc[] 
vacation_stop3 = vacation_df.loc[]

SyntaxError: invalid syntax (<ipython-input-6-321e27bb600a>, line 5)

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = 
end = 
stop1 = 
stop2 = 
stop3 =

SyntaxError: invalid syntax (<ipython-input-7-a88581a9dc16>, line 2)

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([],ignore_index=True)
itinerary_df

ValueError: No objects to concatenate

In [ ]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure